{% extends 'base.html.twig' %}

{% block title "User" %}

{% block body %}
<div class="container mt-4">
<h1> Enregistrer l'utilisateur </h1>
{{ form_start(form)}}
    {{ form_widget(form)}}
    <button class="btn btn-primary"> Enregistrer </button>
{{ form_end(form)}}
</div>
{% endblock %}