{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
<div class="container mt-4">
<h1> Editer le bien </h1>
{{ form_start(form)}}
    {{ form_widget(form)}}
    <h2>Les images de la maison</h2>
    <div class="row">
        {% for image in property.imageProperties %}
        <div class="ml-3">
            <div class="card mt-3" style="width: 15rem;">
                <img src="../../images/{{ image.filename }}" alt="" style="width: 15rem;">
                <a class="btn btn-danger mt-3" href="{{ path('admin_property_delete_images', {id: image.id})}}" data-delete data-token="{{ csrf_token('delete' ~ image.id )}}">Supprimer</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <h2 class="mt-4">L'image de présentation de la maison</h2>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 15rem;">
                <img src="../../images/properties/{{ property.filename }}" alt="" style="width: 15rem;">
                <a class="btn btn-danger mt-3" href="{{ path('admin_property_delete_image', {id: property.id})}}" data-delete data-token="{{ csrf_token('delete' ~ property.id )}}">Supprimer</a>
            </div>
        </div>
    </div>
        <button class="btn btn-primary mt-4"> Enregistrer </button>
{{ form_end(form)}}
</div>
{% endblock %}
{% block javascripts %}
    <script>
    window.onload = () => {
    let links = document.querySelectorAll("[data-delete]")
    for(link of links){
        link.addEventListener("click", function(e){
            e.preventDefault()
            if(confirm("Voulez-vous supprimer cette image ?")){
                fetch(this.getAttribute("href"), {
                    method: "DELETE",
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({"_token": this.dataset.token})
                }).then(
                    response => response.json()
                ).then(data => {
                    if(data.success)
                        this.parentElement.remove()
                    else
                        alert(data.error)
                }).catch(e => alert(e))
            }
        })
    }
}
</script>
{% endblock %}

