{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<div class="container mt-4">
<h2> Gérer les biens </h2>
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
    {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('supp') %}
    <div class="alert alert-success">
    {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('add') %}
    <div class="alert alert-success">
    {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('edit') %}
    <div class="alert alert-success">
    {{ message }}
    </div>
    {% endfor %}
    <div class="text-right mt-4 mb-4">
<a href="{{path('admin.property.new')}}" class="btn btn-primary"> Ajouter </a>
</div>
<table class="table table-striped">
    <thead>
        <th> Titre </th>
        <th> Actions </th>
    </thead>
    <tbody>
        {% for property in properties %}
        <tr>
            <td> {{ property.title }} </td>
            <td>
                <a href="{{path('admin.property.edit', {id: property.id}) }}" class="btn btn-info"> Editer </a>
                <form method="post" action="{{path('admin.property.delete', {id: property.id})}}" style="display:inline-block;" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cette annonce ?')">
                <button class="btn btn-danger"> Supprimer </button>
                <input type="hidden" name="_token" value="{{csrf_token('delete' ~ property.id)}}">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}