{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
<div class="container">
<h1> Enregistrer le bien </h1>
{{ form_start(form)}}
    <div class="row">
        <div class="col md-4">
        <h2> Annonce </h2>
            {{ form_row(form.title)}}
            {{ form_row(form.description)}}
            {{ form_row(form.price)}}
            {{ form_row(form.sold)}}
            <h2 class="mt-2 mb-2"> Image de présentation </h2>
            {{ form_row(form.imageFile)}}
            <h2 class="mt-2 mb-2"> Les images de la maison </h2>
            {{ form_row(form.imageProperties)}}
        </div>
        <div class="col md-4">
        <h2> Informations du Bien </h2>
            {{ form_row(form.surface)}}
            {{ form_row(form.room)}}
            {{ form_row(form.bedroom)}}
            {{ form_row(form.floor)}}
            {{ form_row(form.heat)}}
            {{ form_row(form.options)}}
            {{ form_row(form.city)}}
            {{ form_row(form.adress)}}
            {{ form_row(form.postal_code)}}
        </div>
    </div>
    <button class="btn btn-primary"> Enregistrer </button>
{{ form_end(form)}}
</div> 
{% endblock %}