{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-8">
        <p>L’agence NathDie Immobilier vous accompagne sur l’ensemble de vos projets immobiliers en mettant à votre disposition une équipe de professionnels compétents. 
        Membre du groupement d'agences Imagimmo nous intervenons sur la location, la gestion locative 
        (Garantie Loyers Impayés, détériorations Immobilières et protection juridique) et la transaction en assurant un service de qualité personnalisé basé sur la 
        confiance et le respect.</p>
        <p> Nous vous accueillons du lundi au vendredi de 9h à 12h et de 14h à 18h. Bonne visite ! L’équipe de NathDie Immobilier.</p>
        
        </div>
        <div class="col-sm-4">
        <p> NathDie Immobilier</p>
        <p> 50 route du moulin </p>
        <p> 59230 Saint Amand Les Eaux </p>
        <p> Tél : 04.55.48.57.21 </p>
        <p> Email : contact@nathdie.ue </p>
        </div>
    </div>
</div>

<div class="container">
<h2> Les derniers biens </h2>
    <div class="row flex">
    {% for property in properties %}
        <div class="col-3">
            <div class="card">
                            {% if property.filename %}
                    <img src="images/properties/{{ property.filename }}" alt="card-img-top" style="width:100%; height:auto;">

                    {% else %}
                    <img src="images/properties/empty.jpg" alt="card-img-top" style="width:100%; height:auto;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{path('property.show', {id: property.id, slug:property.slug})}}">{{property.title}}</a>
                    </h5>
                        <p class="card-text">
                        {{property.city}} ({{property.postalCode}})
                        </p>
                    <div class="text-primary"> {{ property.price | number_format(0, '', ' ') }} €</div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
