{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        {{ form_start(form)}}
        <div class="form-row">
            <div class="col">
                {{ form_row(form.minSurface)}}
            </div>
            <div class="col">
                {{ form_row(form.maxPrice)}}
            </div>
            <div class="col">
                {{ form_row(form.options)}}
            </div>
            <div class="col">
                <button class="btn btn-primary"> Rechercher </button>
            </div>
        </div>
         {{ form_end(form)}}
    </div>
</div>
<div class="container mt-4">
<h1> Tous nos biens </h1>
    <div class="row">
        {% for property in properties %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if property.filename %}
                    <img src="images/properties/{{ property.filename }}" alt="card-img-top" style="width:100%; height:auto;">

                    {% else %}
                    <img src="images/properties/empty.jpg" alt="card-img-top" style="width:100%; height:auto;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{path('property.show', {id: property.id, slug:property.slug})}}">{{property.title}}</a>
                    </h5>
                    <p class="card-text">{{ property.description | nl2br }}</p>
                    <p class="card-text">{{property.surface}} m² - {{property.city}} ({{property.postalCode}})</p>
                    <div class="text-primary" style="font-size:2rem;font-weight:bold;"> {{ property.price | number_format(0, '', ' ') }} €</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination mt-4">
    {{ knp_pagination_render(properties)}}
    </div>
</div>

{% endblock %}


