{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
<div class="jumbotron">
    <div class="container">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
    {{ message }}
    </div>
    {% endfor %}
        {% if not form.vars.valid %}
    <div class="alert alert-danger">
        Vous avez fait une erreur dans le formulaire
    </div>
    {% endif %}

        <div class="row">
            <div class="col-md-8">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            {% if property.filename %}
                            <img src="../images/properties/{{ property.filename }}" alt="card-img-top" style="width:100%; height:auto;">
                            {% else %}
                            <img src="../images/properties/empty.jpg" alt="card-img-top" style="width:100%; height:auto;">
                            {% endif %}
                        </div>
                        {% for image in property.imageProperties %}
                            {% if image  %}
                            <div class="carousel-item">
                                <img src="../images/{{ image.filename }}" alt="" style="width:100%; height:auto;">
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h1> {{ property.title }} </h1>
                <h2> {{ property.room }} pièces - {{ property.surface}} m² <h2>
                {% if property.sold == false %}
                    <div class="text-primary" style="font-size:2rem;font-weight:bold;"> {{ property.price | number_format(0, '', ' ') }} €</div>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modalContactForm"> Contacter l'agence </a>     
                {% else %}
                    <div class="text-primary mt-4" style="font-size:2rem;font-weight:bold;"> Ce bien a été vendu </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 mb-3">
    <p class="mb-4"> {{ property.description | nl2br }} </p>
    <div class="row mt-2">
        <div class="col-md-8">
        <h2> Caractéristiques </h2>
            <table class="table table-striped">
            <tr>
                <td> Surface habitable </td>
                <td> {{ property.surface }} m² </td>
            </tr>
            <tr>
                <td> Pièces </td>
                <td> {{ property.room }} </td>
            </tr>
            <tr>
                <td> Chambres </td>
                <td> {{ property.bedroom }} </td>
            </tr>
            <tr>
                <td> Etage </td>
                <td> {{ property.floor }} </td>
            </tr>
            <tr>
                <td> Chauffages </td>
                <td> {{ property.heatType }} </td>
            </tr>
            </table>
        </div>
        <div class="col-md-4">
        <h2> Options  </h2>
        <ul class="list-group">
            {% for option in property.options %}
            <li class="list-group-item"> {{option.name}}</li>
            {% endfor %}
        </ul>
        <h2 class="mt-4"> Adresse </h2>
        <p> {{property.adress}}</p>
        <p> {{property.city}}, {{property.postalCode}}  </p>
        </div>
    </div>


</div>

                <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Contact</h4>
        {{ form_start(form) }}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-2">
        {{form_row(form.firstname) }}
        </div>
        <div class="md-form mb-2">
        {{form_row(form.lastname) }}
        </div>
        <div class="md-form mb-2">
        {{form_row(form.phone) }}
        </div>
        <div class="md-form mb-2">
        {{form_row(form.email) }}
        </div>
        <div class="md-form mb-2">
        {{form_row(form.message) }}
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Envoyer</button>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>

{% endblock %}